.h1 {
  font-family: 'Lobster';
  text-align: center;
  color: red;
  text-shadow: 1px 1px #000;
  font-size: 4rem;
  padding: 0.5rem;
  height: 6rem;
  margin: 0;
}

.header {
  height: 10rem;
}

.yearContainer {
  border: 1px solid #000;
  background-color: #555;
  color: #fff;
  font-size: 1.5rem;
  overflow: hidden;
  height: 4rem;
  line-height: 4rem;
  z-index: 1;
  text-align: center;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.yearBtn {
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0rem 1.5rem;
}