@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans&display=swap');

html {
  font-size: 16px;
}

body {
  background-color: #efefef !important;
  font-family: 'Open Sans', sans-serif !important;
}

.day-container {
  border: 1px solid #000;
}

.day-container.red {
  background-color: #9a2828;
  color: #fff;
}

.day-container.gray {
  background-color: #ffcece;
  color: #000;
}

.day-container.squeeze {
  background-color: #f3f704;
  color: #000;
}

.date-box {
  width: 5rem;
  height: 5rem;
  background-color: #fff;
  color: #000;
  border-right: 1px solid #000;
}

.date-name h2 {
  line-height: 5rem;
  white-space: nowrap;
}

.day-name {
  color: #000;
  position: absolute;
  right: 0;
  width: 4rem;
  text-align: center;
  background-color: rgb(255 255 255 / 80%);
  border-left: 1px solid;
  border-bottom: 1px solid;
  padding: 0.2rem;
  font-size: 1.1rem;
  text-transform: uppercase;
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 10px;
  }
}
