html {
  font-size: 16px;
}

body {
  background-color: #d3d1d4 !important;
}

.day-container.red {
  background-color: #b71d1d;
  color: #fff;
}

.day-container.gray {
  background-color: #eee;
  color: #000;
}

.day-container.squeeze {
  background-color: #f3f704;
  color: #000;
}

.date-box {
  width: 5rem;
  height: 5rem;
}

.date-name h2 {
  line-height: 5rem;
  white-space: nowrap;
}

@media only screen and (max-width: 400px) {
  html {
    font-size: 10px;
  }
}